<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录页面</title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">

  <style>
    .login-container {
      width: 400px;
      margin: 100px auto;
      padding: 20px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>

<div class="login-container">
  <h2 class="layui-elip" style="text-align: center;">用户登录</h2>
  <form class="layui-form" id="loginForm">
    <div class="layui-form-item">
      <label class="layui-form-label">用户名</label>
      <div class="layui-input-block">
        <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名"
               class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">密码</label>
      <div class="layui-input-block">
        <input type="password" name="password" required lay-verify="required"
               placeholder="请输入密码" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block" style="text-align: center;">
        <button class="layui-btn" lay-submit lay-filter="login">登录</button>
      </div>
    </div>
  </form>
</div>

<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/login.js}"></script>
</body>
</html>
